:host {
     .background-blue {
       background-color: blue;
       color: white;
      }
      .background-blueV {
        background-color: black;
        color:  white;
       }
    
}
.background-black {
    background:  black;
    color: red;
}